
<h2>My heroes</h2>
<ul class="heroes">

  <li *ngFor ="let hero of heroes">
    <a routerLink ="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>{{hero.name}}
   
    </a>
    <button id="delbtn" style="width: 40px;" type="submit" class="delete" (click)="delete(hero)">X</button>
    <!-- <button [class.selected] = "hero === selectedHero" type ="button" 
      (click) ="onSelect(hero)"> 
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button> -->
   
  </li>
</ul>

<div>
  <label for="newhero">Hero name:</label>
  <input id="newhero" #heroName>
 <button type="submit" class="addbutton" (click)="add(heroName.value);   heroName.value=''">add hero</button>

</div>
<app-hero-detail [hero] ="selectedHero"></app-hero-detail>